@charset "UTF-8";

body {
    width:100px;
	height:100px;
  background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */
/* font-family: 'Raleway', sans-serif; */
font-family: 'Nanum Gothic', sans-serif;
}
.panel-heading{
	background-color:rgba(91,192,222) !important;
}
.panel-info>.panel-heading, .panel{
	border:none !important;
}
.panel-title{
	color:#ffffff !important;
}
p {
	color:#CCC;
}
.login_stu{
	background-color:rgba(91,192,222);
	width:100%;
	height:50px;
	cursor:pointer;
}
.login_pro{
	background-color:rgba(91,192,222,0.7);
	width:100%;
	height:50px;
	margin-top:5px;
	cursor:pointer;
}
.login_emp{
	background-color:rgba(91,192,222,0.7);
	width:100%;
	height:50px;
	margin-top:5px;
	cursor:pointer;
}
.col-md-5 div p{
	color:white;
	font-size:20px;
	line-height:50px;
	text-align:center;
	letter-spacing:20px;
}
.adm_btn{
	margin-right:10px;
}
.input_pwd{
	margin-top:10px;
}
.spacing {
	padding-top:7px;
	padding-bottom:7px;
}
.middlePage {
	width: 680px;
    height: 500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.logo {
	color:#CCC;
}

.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;

}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(91,192,222);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {

  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}