<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.kh.finalProject.professor.model.vo.Professor" alias="professor"/>
		<typeAlias type="com.kh.finalProject.employee.model.vo.Employee" alias="employee"/>
		<typeAlias type="com.kh.finalProject.student.model.vo.Student" alias="student"/>
		<typeAlias type="com.kh.finalProject.student.model.vo.Grade" alias="grade"/>
		<typeAlias type="com.kh.finalProject.beforeStudent.model.vo.BeforeStu" alias="beforeStudent"/>
		<typeAlias type="com.kh.finalProject.student.model.vo.StuTuition" alias="stuTuition"/>
		<typeAlias type="com.kh.finalProject.req.model.vo.Req" alias="req"/>
		<typeAlias type="com.kh.finalProject.professor.model.vo.SelectInMajor" alias="selectInMajor"/>
		<typeAlias type="com.kh.finalProject.professor.model.vo.InsertClass" alias="insertClass"/>
		<typeAlias type="com.kh.finalProject.tuition.model.vo.Tuition" alias="tuition"/>
		<typeAlias type="com.kh.finalProject.professor.model.vo.SelectInClass" alias="selectInClass"/>
	</typeAliases>
</configuration>
