<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="employee">
	<select id="selectOne" parameterType="employee" resultMap="employeeResult">
  		SELECT * FROM HD_PROFESSOR_TB WHERE prof_Id=#{empId} AND prof_Pw=#{empPw} AND SUBSTR(prof_Id,1,1)='E'
	</select>
	
	<select id="selectEmpList" resultType="map"  parameterType="string">
		SELECT * FROM HD_PROFESSOR_TB JOIN HD_DEPARTMENT_TB USING(DEPT_CODE) WHERE SUBSTR(PROF_ID,1,1) = 'E'
		<if test="value != null">
		AND SUBSTR(DEPT_CODE,1,1) = #{value}
		</if>
		ORDER BY DEPT_CODE
	</select>
	
	<select id="empListCount" resultType="_int"  parameterType="string">
		SELECT COUNT(*) FROM HD_PROFESSOR_TB WHERE SUBSTR(PROF_ID,1,1) = 'E'
		<if test="value != null">
		AND SUBSTR(DEPT_CODE,1,1) = #{value}
		</if>
	</select>
	
	<select id="changeEmp" parameterType="string" resultType="map">
			SELECT * FROM HD_PROFESSOR_TB JOIN HD_DEPARTMENT_TB USING(DEPT_CODE) WHERE SUBSTR(PROF_ID,1,1) = 'E' AND DEPT_CODE = #{deptCode} ORDER BY PROF_NAME
	</select>
	
	<select id="changeEmpCount" resultType="_int" parameterType="string">
		SELECT COUNT(*) FROM HD_PROFESSOR_TB WHERE SUBSTR(PROF_ID,1,1) = 'E' AND DEPT_CODE = #{deptCode}
	</select>
	
	<select id="selectEmpLastNum" resultType="_int" parameterType="string">
		SELECT MAX(SUBSTR(PROF_ID,9,2)) FROM HD_PROFESSOR_TB JOIN HD_DEPARTMENT_TB USING(DEPT_CODE) WHERE SUBSTR(PROF_ID,1,1) = 'E' AND DEPT_CODE = #{deptCode}
	</select>
	
	<insert id="insertNewEmp" parameterType="employee">
        INSERT INTO HD_PROFESSOR_TB VALUES(#{empId},#{empPw},#{empName},#{empSsn},#{deptCode},#{email},#{phone},#{address},#{gender},DEFAULT,'profImg.PNG')		
	</insert>
	
	
	<select id="empLastNumCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM HD_PROFESSOR_TB JOIN HD_DEPARTMENT_TB USING(DEPT_CODE) WHERE SUBSTR(PROF_ID,1,1) = 'E' AND DEPT_CODE = #{deptCode}
	</select>
	
	<select id="deptEmp" resultType="map" parameterType="map">
  		SELECT * FROM HD_PROFESSOR_TB JOIN HD_DEPARTMENT_TB USING(DEPT_CODE)
		WHERE SUBSTR(PROF_ID,1,1) = 'E'
 		<if test="deptCode != null">
		AND DEPT_CODE = #{deptCode}
		</if>
		<if test="search != null">
		AND PROF_ID LIKE '%${search}%' OR PROF_NAME LIKE '%${search}%'
		</if>
		 ORDER BY PROF_ENROLL DESC, DEPT_CODE
	</select>
	
	<select id="deptEmpCount" resultType="_int" parameterType="map">
  		SELECT COUNT(*) FROM HD_PROFESSOR_TB
  		WHERE SUBSTR(PROF_ID,1,1) = 'E'
  		<if test="deptCode != null">
		AND DEPT_CODE = #{deptCode}
		</if>
		<if test="search != null">
		AND PROF_ID LIKE '%${search}%' OR PROF_NAME LIKE '%${search}%'  
		</if>
	</select>
	
	
	
	
	<resultMap id="employeeResult" type="employee">
		<result column="PROF_ID" property="empId" />
		<result column="PROF_PW" property="empPw" />
		<result column="PROF_NAME" property="empName" />
		<result column="PROF_SSN" property="empSsn" />
		<result column="DEPT_CODE" property="deptCode" />	
		<result column="EMAIL" property="email" />	
		<result column="PHONE" property="phone" />	
		<result column="ADDRESS" property="address" />	
		<result column="GENDER" property="gender" />	
		<result column="PROF_ENROLL" property="empEnroll" />	
	</resultMap>
</mapper>
