<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">
  
	<select id="selectNoticeList" resultMap="noticeResult">
		SELECT * FROM HD_BOARD_TB
	</select>
	
	<select id="countNoticeList" resultType="_int">
		SELECT COUNT(*) FROM HD_BOARD_TB
	</select>
	
	<insert id="insertNotice" parameterType="notice">
		INSERT INTO HD_PROF_BOARD_TB VALUES(SEQ_PROF_BOARD_NO.NEXTVAL,#{profName},#{profBoardType},#{profBoardTitle},#{profBoardContent},SYSDATE)
		<selectKey keyProperty="profBoardNo" resultType="_int" order="AFTER">
			SELECT SEQ_PROF_BOARD_NO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	<insert id="insertNoticeAttachment" parameterType="notice">
		INSERT INTO HD_PROF_ATTACHMENT_TB VALUES(SEQ_PROF_BOARD_FILENO.NEXTVAL,#{profBoardNo},#{boardOrifilename},#{boardRefilename},DEFAULT)
	</insert>
	
	
	<resultMap type="notice" id="noticeResult">
		<result column="board_No" property="boardNo"/>
		<result column="board_Title" property="boardTitle"/>
		<result column="board_Content" property="boardContent"/>
		<result column="board_Writer" property="boardWriter"/>
		<result column="reg_Date" property="regDate"/>
		<result column="HIT_COUNT" property="hitCount"/>
	</resultMap>
</mapper>
