<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="prof4">


	<select id="selectProfSubject" parameterType="infoForProfSubject" resultMap="profSubjectResult">
		SELECT C.*, S.SUB_NAME
		FROM (SELECT SUB_SEQ, SUB_CODE
		FROM HD_CLASS_TB
		WHERE PROF_ID=#{profId}) C
		JOIN HD_SUBJECT_TB S
		ON C.SUB_SEQ=S.SUB_SEQ
		AND S.SUB_YEAR=#{acaYear}
		AND S.SUB_SEMESTER=#{acaSemester}
	</select>


  	<resultMap id="profSubjectResult" type="profSubject">
		<result column="SUB_SEQ" property="subSeq" />
		<result column="SUB_CODE" property="subCode" />
		<result column="SUB_NAME" property="subName" />
	</resultMap>
	
</mapper>
