<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="professor1">
	<select id="selectProfName" resultType="string">
		SELECT PROF_NAME FROM HD_PROFESSOR_TB WHERE PROF_NAME='교수1'
	</select>
	<!-- 페이징 토탈데이타 -->
	<select id="selectBoardCount" resultType="_int">
		SELECT COUNT(*) FROM HD_PROF_BOARD_TB
	</select>
	<!-- 강의 개설 -->
	<insert id="insertSubjectEnd" parameterType="map">
		INSERT INTO HD_CLASS_TB VALUES('1',#{classYear},#{className},#{profId},#{openYn},#{capacity},#{classStart1},'15','15',#{classRoom},#{assignA},#{assignB},#{assignC},#{assignD},#{mTerm},#{fTerm},#{statusGrade},#{useBook},#{bookName},'유병승',#{evaStan},'한국어',#{openOther},#{oriFile},#{upFile})
	</insert>
	
	<insert id="insertClassEnd" parameterType="map">
		INSERT INTO HD_SUBJECT_TB VALUES('1',#{subName},#{tSubject},#{tDept},#{tGrade},#{completePt},#{tSemester},#{subType},#{deptCode})
	</insert>
	<!-- 교수 뷰 -->
	<select id="professorView" resultType="professor" resultMap="professorResult1">
		SELECT * FROM HD_PROFESSOR_TB WHERE PROF_ID = #{profId}
	</select>
	
	<!-- 교수 정보수정 -->
<!-- 	<insert id="updateProfessor" parameterType="string">
		UPDATE HD_PROFESSOR_TB SET EMAIL=#{email}, PHONE=#{phone}, ADDRESS=#{address} WHERE PROF_ID=#{profId}
	</insert> -->
	
	<update id="updateProfessor" parameterType="professor">
		UPDATE HD_PROFESSOR_TB SET EMAIL=#{email}, PHONE=#{phone}, ADDRESS=#{address} WHERE PROF_ID=#{profId}
	</update>

	<!-- 비번 -->
	<update id="profUpdatePwdEnd" parameterType="map">
		UPDATE HD_PROFESSOR_TB SET PROF_PW=${profPwdUpdate} WHERE PROF_ID=#{profId} AND PROF_PW=#{profPw}
	</update>
	<!-- 게시판뷰 -->
	<select id="boardView" resultType="map">
		SELECT B.PROF_BOARD_NO, B.PROF_NAME, B.PROF_BOARD_TYPE, B.PROF_BOARD_TITLE,B.PROF_BOARD_DATE,A.BOARD_REFILENAME FROM HD_PROF_BOARD_TB B, HD_PROF_ATTACHMENT_TB A WHERE B.PROF_BOARD_NO = A.PROF_BOARD_NO(+) ORDER BY B.PROF_BOARD_DATE DESC
		<!-- SELECT A.*, (SELECT COUNT(*) FROM HD_PROF_ATTACHMENT_TB WHERE PROF_BOARD_NO = A.PROF_BOARD_NO) AS ATTACHCOUNT FROM HD_PROF_BOARD_TB A ORDER BY PROF_BOARD_DATE DESC -->
	</select>
	<!-- 게시판 작성 -->
	<insert id="insertBoardEnd" parameterType="com.kh.finalProject.professor.model.vo.ProfessorBoard">
		INSERT INTO HD_PROF_BOARD_TB VALUES(SEQ_PROF_BOARD_NO.NEXTVAL,#{profName},#{profBoardType},#{profBoardTitle},#{profBoardContent},SYSDATE)
		<selectKey keyProperty="profBoardNo" resultType="_int" order="AFTER">
			SELECT SEQ_PROF_BOARD_NO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	<insert id="insertBoardAttachment" parameterType="com.kh.finalProject.professor.model.vo.ProfBoardAttachment">
		INSERT INTO HD_PROF_ATTACHMENT_TB VALUES(SEQ_PROF_BOARD_FILENO.NEXTVAL,#{profBoardNo},#{boardOrifilename},#{boardRefilename},DEFAULT)
	</insert>
	<!-- 게시판 상세 -->
	<select id="selectBoardView" parameterType="_int" resultType="com.kh.finalProject.professor.model.vo.ProfessorBoard">
		SELECT * FROM HD_PROF_BOARD_TB WHERE PROF_BOARD_NO = #{profBoardNo}
	</select>
	<select id="selectProfAttachment" parameterType="_int" resultType="com.kh.finalProject.professor.model.vo.ProfBoardAttachment">
		SELECT * FROM HD_PROF_ATTACHMENT_TB WHERE PROF_BOARD_NO = #{profBoardNo}
	</select>
	<!-- subject -->
	<select id="subjectCodeView" resultType="map">
		SELECT * FROM HD_SUBJECT_TB WHERE DEPT_CODE='D1'
	</select>
	<select id="selectSubject" resultType="map" parameterType="string">
		SELECT * FROM HD_SUBJECT_TB WHERE SUB_CODE = #{subCode}
	</select>
	
	
	
	
	
	
 <resultMap id="professorResult1" type="professor">
	<result column="PROF_ID" property="profId" />
	<result column="PROF_PW" property="profPw" />
	<result column="PROF_NAME" property="profName" />
	<result column="PROF_SSN" property="profSsn" />
	<result column="DEPT_CODE" property="deptCode" />	
	<result column="EMAIL" property="email" />	
	<result column="PHONE" property="phone" />	
	<result column="ADDRESS" property="address" />	
	<result column="GENDER" property="gender" />	
	<result column="PROF_ENROLL" property="profEnroll" />	
</resultMap>

	
</mapper>
