<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="req">
  <insert id="insertReq" parameterType="req">
  	INSERT INTO HD_REQ_TB VALUES(REQ_NO_SEQ.NEXTVAL,#{reqTitle}, #{reqContents}, #{fromName}, #{toName}, DEFAULT, DEFAULT) 
  </insert>
  
  <select id="reqList" resultMap="reqResult">
  	SELECT REQ_NO, REQ_TITLE, REQ_CONTENTS, FROM_NAME, TO_NAME, to_char(TO_TIME, 'YYYY-MM-DD HH24:MI')AS TO_TIME FROM HD_REQ_TB WHERE REQ_READ='Y' AND FROM_NAME='EA000000000'
  </select>
  
  <select id="reqOne" parameterType="_int" resultMap="reqResult">
  	SELECT REQ_NO, REQ_TITLE, REQ_CONTENTS, TO_NAME, to_char(TO_TIME, 'YYYY-MM-DD HH24:MI')AS TO_TIME FROM HD_REQ_TB WHERE REQ_NO=#{reqNo}
  </select>
  
  
  <resultMap id="reqResult" type="req">
		<result column="REQ_NO" property="reqNo" />
		<result column="REQ_TITLE" property="reqTitle" />
		<result column="REQ_CONTENTS" property="reqContents" />
		<result column="FROM_NAME" property="fromName" />
		<result column="TO_NAME" property="toName" />	
		<result column="TO_TIME" property="toTime" />	
		<result column="REQ_READ" property="reqRead" />	
	</resultMap>
  
</mapper>
