<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="school">
	<select id="colCount" resultType="_int">
		select count(*) from hd_college_tb
	</select>

	<select id="deptCount" resultType="_int">
		select count(*) from hd_department_tb
	</select>
	
	<select id="colList">
	
	</select>
	
	<select id="deptList">
	
	</select>
	
	<resultMap type="com.kh.finalProject.professor.model.vo.Department" id="departmentMap">
		<result column="DEPT_CODE" property="deptCode"/>
		<result column="DEPT_NAME" property="deptName"/>
		<result column="COL_CODE" property="colCode"/>
		<result column="DEPT_OPEN" property="deptOpen"/>
	</resultMap>
	
	<resultMap type="com.kh.finalProject.professor.model.vo.Department" id="departmentMap">
		<result column="DEPT_CODE" property="deptCode"/>
		<result column="DEPT_NAME" property="deptName"/>
		<result column="COL_CODE" property="colCode"/>
		<result column="DEPT_OPEN" property="deptOpen"/>
	</resultMap>
	
</mapper>
