<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="student">
	<select id="selectOne" parameterType="student" resultMap="studentResult">
  		SELECT * FROM HD_STUDENT_TB WHERE stu_No=#{stuNo} AND stu_Pw=#{stuPw}
  	</select>
  	
  	<insert id="insertNewStu" parameterType="student">
  	INSERT INTO HD_STUDENT_TB VALUES(#{stuNo},#{stuName},#{stuPw},#{stuSsn},#{stuTel},#{stuAddr},#{gender},#{deptCode},sysdate,#{stuEmail},#{regStatus},NULL,#{stuYearSem},1,NULL,NULL)
  	</insert>
  	
  	<select id="selectLastNum" parameterType="string" resultType="int">
  	    SELECT MAX(SUBSTR(STU_NO,9,10)) AS NUM FROM HD_STUDENT_TB WHERE DEPT_CODE = #{result} AND  STU_YEAR_SEM = '1-1'
  	</select>
  	
  	<select id="selectDeptCount" parameterType="string" resultType="_int">
  		SELECT COUNT(*) FROM HD_STUDENT_TB WHERE DEPT_CODE = #{result} 
  	</select>
  	
  	<resultMap id="studentResult" type="student">
		<result column="STU_NO" property="stuNo" />
		<result column="STU_NAME" property="stuName" />
		<result column="STU_PW" property="stuPw" />
		<result column="STU_SSN" property="stuSsn" />
		<result column="STU_TEL" property="stuTel" />	
		<result column="STU_ADDR" property="stuAddr" />	
		<result column="GENDER" property="gender" />	
		<result column="DEPT_CODE" property="deptCode" />	
		<result column="ENTER_DATE" property="enterDate" />	
		<result column="STU_EMAIL" property="stuEmail" />
		<result column="REG_STATUS" property="regStatus" />	
		<result column="PROF_ID" property="profId" />	
		<result column="STU_YEAR_SEM" property="stuYearSem" />
		<result column="MAX_PSB_CR" property="maxPsbCr"/>
		<result column="CON_SEMESTER" property="conSemester" />	
		<result column="STU_IMG_ORINAME" property="stuImgOriname" />
		<result column="STU_IMG_RENAME" property="stuImgRename" />
		<result column="STU_ACCOUNT" property="stuAccount" />	
	</resultMap>

  
</mapper>
